.qr-content {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  text-transform: uppercase;
  padding: 24px;

  h2 {
    font-weight: bold;
  }

  p {
    text-transform: none;
    line-height: 1.5em;
  }

  ion-button {
    width: 150px;
    margin-top: 24px;
  }
}
