<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment
    value="today"
    (ionChange)="segmentChanged($event)"
    mode="ios"
    *ngIf="isMobile"
  >
    <ion-segment-button value="today">
      <ion-label>Today</ion-label>
    </ion-segment-button>
    <ion-segment-button value="daily">
      <ion-label>Daily</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="(traceList | async).length > 0; else emptyDiv">
    <merchant-dashboard
      *ngIf="userType === 'merchant'"
      [traceList]="traceList"
      [isMobile]="isMobile"
    ></merchant-dashboard>
    <user-dashboard
      *ngIf="userType === 'user'"
      [traceList]="traceList"
      [isMobile]="isMobile"
    ></user-dashboard>
  </ng-container>

  <ng-template #emptyDiv>
    <div class="empty-data">
      <div class="img">
        <img src="assets/img/document.png" alt="no data" />
      </div>
      <h2>No Data :(</h2>
    </div>
  </ng-template>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="userType === 'merchant'"
  >
    <ion-fab-button (click)="startScan()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
