/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// custom toggle switch
@import "~ngx-ui-switch/ui-switch.component.scss";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(./assets/font/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(./assets/font/Montserrat/Montserrat-Medium.ttf);
}

body,
h2,
h1,
span,
p {
  font-family: Montserrat;
}

::-webkit-calendar-picker-indicator {
  display: none;
}

.form-group {
  width: 50%;
  display: inline-block;
  padding: 5px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--ion-color-light-rgb);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: rgb(244, 245, 248);
  background-color: rgb(244, 245, 248);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgb(60, 108, 185, 0.26);
}

.toUpper {
  text-transform: uppercase;
}

.qr-modal .modal-wrapper {
  background: var(--ion-color-primary);
  color: var(--ion-color-light);
}

.custom-loading .loading-wrapper {
  text-align: center;

  .loading-img {
    background: transparent url(/assets/img/bilog.png) no-repeat center 50%/50%;
    position: absolute;
    width: 84%;
    height: 77%;
    -webkit-animation: rotate-center 0.2s ease-in-out infinite both;
    animation: rotate-center 0.2s ease-in-out infinite both;
  }
  .loading-content {
    img {
      max-width: 50%;
      padding: 14px;
    }
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
