<ion-card class="register-form" #registerContent>
  <div class="nav" (click)="closeCard()">
    <ion-icon name="chevron-back-outline"></ion-icon><span> Home</span>
  </div>
  <ion-card-content>
    <div class="heading">
      <h2 class="title" #title>register</h2>
      <p>your details to create your account</p>
    </div>
    <form [formGroup]="merchantForm" (ngSubmit)="register()">
      <div class="login-fields">
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="Firstname"
              formControlName="firstname"
            ></ion-input>
            <ion-icon name="person" slot="end" color="light"></ion-icon>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="Middlename"
              formControlName="middlename"
            ></ion-input>
            <ion-icon name="person" slot="end" color="light"></ion-icon>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="Lastname"
              formControlName="lastname"
            ></ion-input>
            <ion-icon name="person" slot="end" color="light"></ion-icon>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-select formControlName="suffix" placeholder="Suffix">
              <ion-select-option value=""></ion-select-option>
              <ion-select-option value="sr">Sr.</ion-select-option>
              <ion-select-option value="jr">Jr.</ion-select-option>
              <ion-select-option value="I">I</ion-select-option>
              <ion-select-option value="II">II</ion-select-option>
              <ion-select-option value="III">III</ion-select-option>
              <ion-select-option value="IV">IV</ion-select-option>
              <ion-select-option value="V">V</ion-select-option>
            </ion-select>
            <ion-icon name="person" slot="end" color="light"></ion-icon>
          </ion-item>
        </div>
        <ion-item lines="none">
          <label style="margin: 0 16px 0 5px">Gender</label>
          <mat-radio-group formControlName="gender" aria-label="Select Gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Company name"
            formControlName="company_name"
          ></ion-input>
          <ion-icon name="business" slot="end" color="light"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input
            type="date"
            placeholder="Birthdate"
            formControlName="bdate"
          ></ion-input>
          <ion-icon name="calendar-number" slot="end" color="light"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input
            type="email"
            placeholder="Email"
            formControlName="email"
            (ionBlur)="validateEmail($event)"
          ></ion-input>
          <ion-icon name="mail" slot="end" color="light"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input
            simpleMask="(+99) 9-999-9999-99"
            type="tel"
            placeholder="(+63) 9-435-1234-89"
            formControlName="contact"
            [clearIfNotMatch]="true"
          ></ion-input>
          <ion-icon name="call" slot="end" color="light"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Username"
            formControlName="username"
          ></ion-input>
          <ion-icon name="person" slot="end" color="light"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Password"
            formControlName="password"
          ></ion-input>
          <ion-icon name="lock-closed" slot="end" color="light"></ion-icon>
        </ion-item>
      </div>
      <div class="login-btn">
        <ion-button type="submit" shape="round"> register </ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-card>
