.qr-content {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 24px;

  h1 {
    font-weight: bold;
  }

  .desc {
    line-height: 1.5em;
    font-weight: bold;
    font-style: italic;
  }

  .btns {
    margin-top: 24px;
    ion-button {
      --box-shadow: none;
    }
  }
}
