<div class="qr-content">
  <h1>{{ user?.qr_ref }}</h1>
  <p class="toUpper">reference number</p>
  <p class="desc">
    Present this to the admin to get your QR code sticker or click the deliver
    button to deliver your QR code sticker to your registered address.
  </p>
  <div class="btns">
    <ion-button
      (click)="deliver()"
      expand="block"
      shape="round"
      color="secondary"
    >
      deliver
    </ion-button>
    <ion-button
      (click)="modalClose()"
      expand="block"
      fill="outline"
      color="light"
      shape="round"
    >
      back
    </ion-button>
  </div>
</div>
