.qr-content {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  text-transform: uppercase;
  padding: 24px;

  h1 {
    font-weight: bold;
  }

  .btns {
    margin-top: 24px;
    ion-button {
      --box-shadow: none;
    }
  }
}
