<ion-content class="ion-padding">
  <img class="logo-img" [src]="imgSrc" alt="logo" #logoImg />
  <div class="logo-2"></div>

  <!-- cards -->
  <div class="cards" #cards>
    <login-card></login-card>
    <register-card></register-card>
  </div>

  <div class="btns" #btns>
    <ion-button (click)="showResidenceCard()"> Residence Sign Up </ion-button>
    <ion-button (click)="showMerchantCard()"> Merchant Sign Up </ion-button>
    <ion-button (click)="showVehicleModal()"> Vehicle Sign Up </ion-button>

    <ion-button class="login-btn" (click)="showLoginCard()" shape="round">
      login
    </ion-button>
  </div>
</ion-content>
